@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;300;400&display=swap');

:root {
    --fonte-primaria:'Chivo Mono', monospace;
    --cor-da-letra: #FEFCF3;
    --cor-de-fundo: rgba(0, 0, 0, 0.5)
}
* {
    font-family: var(--fonte-primaria);
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container>a {
    cursor: default;
}

.box {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    justify-content: flex-start;
}

.sidebar {
    display: flex;
    width: 25vw;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-color: #f0f0f0; */
    padding: 1em;
    
}

.secao {
    background-color: var(--cor-da-letra);
    width: -webkit-fill-available;
    width: -moz-available;
    margin-bottom: 1em;
    border-radius: 5px;
}

.perfil_img {
    width: 100%;
    border-radius: 0.25em;
}

.filtro-de-projetos {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.filtro-de-projetos_titulo {
    text-align: center;
}

.filtro-de-projetos_botoes {
    display: flex;
    justify-content: space-evenly;
}

.redes_titulo {
    text-align: center;
}

.redes-sociais {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.fa-square-twitter {
    color: #00acee;
}

.fa-github {
    color: #211b15;
}

.fa-linkedin {
    color: #0e76a8
}

.fa-square-whatsapp {
    color: #00bb2d;
}

.projetos {
    display: flex;
    width: 55vw;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1em;
}

.contato_titulo {
    text-align: center;
}

.contato_links_lista {
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.card {
    cursor: pointer;
}

/* texto não pode ser selecionado nos cards */
.card-body .card-text {
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
}