@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@200;300;400&display=swap');

:root {
    --fonte-primaria:'Chivo Mono', monospace;
    --cor-da-letra: #FEFCF3;
    --cor-de-fundo: rgb(33,38,45);
    --raio-da-borda: 20px;
}
* {
    font-family: var(--fonte-primaria);
    /***** Texto não selecionável *****/
    -webkit-touch-callout: none;  /* iPhone OS, Safari */
    -webkit-user-select: none;    /* Chrome, Safari 3 */
    -khtml-user-select: none;     /* Safari 2 */
    -moz-user-select: none;       /* Firefox */
    -ms-user-select: none;        /* IE10+ */
    user-select: none;            /* Possível implementação no futuro */
    /***** End Section *****/
}
body {
	/* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
	background: linear-gradient(-45deg, #000, #1A4D2E, #FF9F29, #FAF3E3);
	background-size: 400% 400%;
	-webkit-animation: gradient 15s ease infinite;
	animation: gradient 15s ease infinite;
    min-height: 100vh;
    font-family: var(--fonte-primaria);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.tecnologias {
    width: 100%;
    background-color: var(--cor-de-fundo);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.tecnologias>.fa-brands {
    color: var(--cor-da-letra);
    cursor: default;
    font-size: 1.5em;
    padding: .5em;
}

.apresentacao {
    display: flex;
    flex-direction: row-reverse;
    width: 90vw;
    align-items: flex-start;
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
    padding: 1em;
    background-color: var(--cor-da-letra);
    border-radius: var(--raio-da-borda);
}

.apresentacao-imagem {
    height: 20vw;
    border-radius: var(--raio-da-borda);
}

.rodape {
    display: flex;
    flex-direction: column;
}

.rodape-info {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    margin: 1em auto .5em auto;
}

.rodape-copy {
    background-color: var(--cor-de-fundo);
    text-align: center;
    padding: .5em 0;
}

.rodape-copy>p {
    font-size: xx-small;
}

.info-redes, .info-contatos {
    text-align: center;
    width: 35%;
    background-color: var(--cor-da-letra);
    border-radius: var(--raio-da-borda);
    padding: 1em;
}

.info-contato--links, .info-redes--links {
    display: flex;
    justify-content: space-evenly;
}

.principal {
    width: 90vw;
    margin: auto;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

.card {
    margin-bottom: .5em;
    background-color: var(--cor-da-letra);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body>a {
    width: 50%;
}

.projetos>div>img {
    height: 227.95px;
}

#fruta-e-fruto_img {
    object-fit: cover;
}

.fa-square-whatsapp {
    color: rgb(60,220,124);
}

.fa-envelope {
    color: #3b60c4;
}

.fa-github {
    color: #171515;
}

.fa-square-twitter {
    color: #00ACEE;
}

.fa-linkedin {
    color: #0E76A8;
}

.fa-discord {
    color: rgb(92,100,244);
}

.fa-square-whatsapp:hover, .fa-envelope:hover, .fa-github:hover, .fa-square-twitter:hover, .fa-linkedin:hover, .fa-discord:hover {
    font-size: 2.5em;
    transition: 0.25s;
}

@media (max-width: 768px) {
    .apresentacao-imagem {
        display: none;
    }

    .rodape-info {
        flex-direction: column;
        align-items: center;
    }

    .info-contatos {
        margin-bottom: 0.5em;
    }

    .info-redes, .info-contatos {
        width: 90vw;
    }

    .projetos {
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .tecnologias>.fa-brands {
        padding: 0;
    }
}