body {
    background-color: gold;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

footer p a {
    color: black;
    text-decoration: underline;
}
